<div style="width: 100%; overflow: hidden;">
    <div style="width: 150px; float: left;"> <img src="https://raw.githubusercontent.com/DataForScience/Networks/master/data/D4Sci_logo_ball.png" alt="Data For Science, Inc" align="left" border="0" width=150px> </div>
    <div style="float: left; margin-left: 10px;"> <h1>LLMs for Data Science</h1>
<h1>Generative AI</h1>
        <p>Bruno Gon√ßalves<br/>
        <a href="http://www.data4sci.com/">www.data4sci.com</a><br/>
            @bgoncalves, @data4sci</p></div>
</div>

In [1]:
from collections import Counter
from pprint import pprint
from datetime import datetime
import json

import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt 
import sqlite3

import openai
from openai import OpenAI

import transformers
from transformers import pipeline
from transformers import set_seed
set_seed(42) # Set the seed to get reproducible results

import langchain
import langchain_openai
from langchain_openai import ChatOpenAI
import langchain_core
from langchain_core.messages import HumanMessage, SystemMessage
from langchain_core.output_parsers import StrOutputParser
# from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder, PromptTemplate
# from langchain_core.chat_history import BaseChatMessageHistory
# from langchain_core.runnables.history import RunnableWithMessageHistory
# from langchain_core.runnables import RunnablePassthrough

# import langchain_community
# from langchain_community.chat_message_histories import ChatMessageHistory
# from langchain_community.utilities import SQLDatabase
# from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool


import os
import gzip

import tqdm as tq
from tqdm.notebook import tqdm

import watermark

%load_ext watermark
%matplotlib inline

We start by printing out the versions of the libraries we're using for future reference

In [2]:
%watermark -n -v -m -g -iv

Python implementation: CPython
Python version       : 3.11.7
IPython version      : 8.12.3

Compiler    : Clang 14.0.6
OS          : Darwin
Release     : 23.6.0
Machine     : arm64
Processor   : arm
CPU cores   : 16
Architecture: 64bit

Git hash: 029419f525238e1b9a7c22f96809155546a701ad

json            : 2.0.9
langchain_openai: 0.1.8
langchain_core  : 0.2.3
watermark       : 2.4.3
transformers    : 4.41.1
langchain       : 0.2.2
sqlite3         : 2.6.0
matplotlib      : 3.8.0
numpy           : 1.26.4
openai          : 1.30.5
pandas          : 1.5.3
tqdm            : 4.66.4

Load default figure style

In [3]:
plt.style.use('d4sci.mplstyle')
colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

# OpenAI Basic Usage

The first step is generate API key on the OpenAI website and store it as the "OPENAI_API_KEY" variable in your local environment. Without it we won't be able to do anything. You can find your API key in your using settings: https://help.openai.com/en/articles/4936850-where-do-i-find-my-secret-api-key

Then we are ready to instantiate the client

In [4]:
client = OpenAI()

We start by getting a list of supported models.

In [5]:
model_list = json.loads(client.models.list().json())["data"]

In total we have 32 models

In [6]:
len(model_list)

34

Along with some information about each model...

In [7]:
model_list[:3]

[{'id': 'gpt-3.5-turbo',
  'created': 1677610602,
  'object': 'model',
  'owned_by': 'openai'},
 {'id': 'gpt-3.5-turbo-0125',
  'created': 1706048358,
  'object': 'model',
  'owned_by': 'system'},
 {'id': 'gpt-4o-mini-2024-07-18',
  'created': 1721172717,
  'object': 'model',
  'owned_by': 'system'}]

But let's just get a list of model names

In [8]:
print("\n".join(sorted([model["id"] for model in model_list])))

babbage-002
chatgpt-4o-latest
dall-e-2
dall-e-3
davinci-002
gpt-3.5-turbo
gpt-3.5-turbo-0125
gpt-3.5-turbo-0301
gpt-3.5-turbo-0613
gpt-3.5-turbo-1106
gpt-3.5-turbo-16k
gpt-3.5-turbo-16k-0613
gpt-3.5-turbo-instruct
gpt-3.5-turbo-instruct-0914
gpt-4
gpt-4-0125-preview
gpt-4-0613
gpt-4-1106-preview
gpt-4-turbo
gpt-4-turbo-2024-04-09
gpt-4-turbo-preview
gpt-4o
gpt-4o-2024-05-13
gpt-4o-2024-08-06
gpt-4o-mini
gpt-4o-mini-2024-07-18
text-embedding-3-large
text-embedding-3-small
text-embedding-ada-002
tts-1
tts-1-1106
tts-1-hd
tts-1-hd-1106
whisper-1

## Basic Prompt

The recommended model for exploration is `gpt-3.5-turbo`, so we'll stick with it for now. The basic setup is relatively straightforward:

In [9]:
response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
        {
            "role": "user", 
            "content": "What was Superman's weakness?"
        },
    ]
)

Which produces a response object

In [10]:
type(response)

openai.types.chat.chat_completion.ChatCompletion

Which we can treat as a named tuple

The model answer can be found in the "message" dictionary inside the "choices" list

In [11]:
response.choices[0]

Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content="Superman's primary weakness is kryptonite, a radioactive mineral from his home planet of Krypton. Exposure to kryptonite weakens and can even kill Superman, depending on the amount and duration of exposure. Additionally, Superman is also vulnerable to magic, red sun radiation, and mental manipulation.", role='assistant', function_call=None, tool_calls=None, refusal=None))

In [12]:
response.choices[0].message.content

"Superman's primary weakness is kryptonite, a radioactive mineral from his home planet of Krypton. Exposure to kryptonite weakens and can even kill Superman, depending on the amount and duration of exposure. Additionally, Superman is also vulnerable to magic, red sun radiation, and mental manipulation."

To request multiple answers, we must include the `n` parameter with the number of answers we want

In [13]:
%%time
response = client.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": "What are the different kinds of Kryptonite?"},
    ],
    n=3
)

CPU times: user 2.2 ms, sys: 693 ¬µs, total: 2.89 ms
Wall time: 5.28 s

And we can access each of the answers individually int he choices list

In [14]:
for output in response.choices:
    print("==========")
    print(output.message.role.title()) 
    print("==========")
    print(output.message.content)
    print("==========\n")

==========
Assistant
==========
There are several different kinds of Kryptonite in the DC Comics universe, each with its own unique effects on Kryptonians (such as Superman) and other characters. Some of the most well-known types of Kryptonite include:

1. Green Kryptonite ‚Äì The most common form of Kryptonite, green Kryptonite weakens and can ultimately kill Kryptonians. It is radioactive and can cause nausea, weakness, and eventually death if exposed to it for an extended period of time.

2. Red Kryptonite ‚Äì Red Kryptonite has unpredictable and temporary effects on Kryptonians, causing them to undergo strange mutations or loss of powers. The effects vary each time it is used.

3. Blue Kryptonite ‚Äì Blue Kryptonite has similar effects to green Kryptonite but is specifically harmful to Bizarro, a flawed duplicate of Superman.

4. Gold Kryptonite ‚Äì Gold Kryptonite permanently removes a Kryptonian's powers, rendering them powerless for the rest of their lives.

5. Black Kryptonite ‚Äì Black Kryptonite can split a Kryptonian into two separate beings, one good and one evil.

6. White Kryptonite ‚Äì White Kryptonite can kill plant life, making it harmful to any plant-based species.

7. X-Kryptonite ‚Äì X-Kryptonite can grant superpowers to non-Kryptonian beings, such as humans.

These are just a few examples of the many different types of Kryptonite found in the DC Comics universe.
==========

==========
Assistant
==========
There are several different kinds of Kryptonite in the DC Comics universe, each with its own unique properties and effects on the character Superman. Some of the most well-known types of Kryptonite include:

1. Green Kryptonite: The most common form of Kryptonite, green Kryptonite is deadly to Kryptonians such as Superman. It weakens them, causes them extreme pain, and can ultimately kill them if they are exposed to it for too long.

2. Red Kryptonite: Red Kryptonite has unpredictable effects on Kryptonians, causing them to exhibit strange and often temporary changes in behavior and powers.

3. Blue Kryptonite: Blue Kryptonite has been shown to have a calming effect on Kryptonians and can neutralize the harmful effects of green Kryptonite on them.

4. Gold Kryptonite: Gold Kryptonite has the ability to permanently strip a Kryptonian of their powers, rendering them completely powerless.

5. White Kryptonite: White Kryptonite is lethal to plant life, making it a powerful weapon against vegetation-based foes.

6. Black Kryptonite: Black Kryptonite has the ability to split a Kryptonian into two separate beings, each with a different aspect of their personality.

These are just a few examples of the various types of Kryptonite that exist in the DC Comics universe, each with its own unique properties and effects on Superman and other Kryptonians.
==========

==========
Assistant
==========
There are several types of Kryptonite in the DC Comics universe, each with different effects on the superhero Superman:

1. Green Kryptonite: This is the most commonly known form of Kryptonite and is deadly to Superman. It weakens him and can eventually kill him if exposed for too long.

2. Red Kryptonite: This variety of Kryptonite has unpredictable effects on Superman, such as altering his personality, abilities, or even physical appearance temporarily.

3. Blue Kryptonite: Blue Kryptonite affects Bizarro, a flawed duplicate of Superman, in the same way that Green Kryptonite affects Superman.

4. Gold Kryptonite: This type of Kryptonite permanently removes Superman's powers, leaving him completely human.

5. White Kryptonite: White Kryptonite is lethal to all plant life, but harmless to Kryptonians like Superman.

6. Black Kryptonite: Black Kryptonite can split a Kryptonian into two separate beings, one good and one evil.

7. X-Kryptonite: X-Kryptonite is a synthetic version created by humans, which grants powers to non-Kryptonian beings but has detrimental effects on Kryptonians.

8. Silver Kryptonite: Silver Kryptonite induces hallucinations in Kryptonians, impairing their judgment and actions.
==========

In [15]:
response.usage

CompletionUsage(completion_tokens=874, prompt_tokens=17, total_tokens=891, completion_tokens_details={'reasoning_tokens': 0})

In [16]:
print(response.choices[0].message.content)

There are several different kinds of Kryptonite in the DC Comics universe, each with its own unique effects on Kryptonians (such as Superman) and other characters. Some of the most well-known types of Kryptonite include:

1. Green Kryptonite ‚Äì The most common form of Kryptonite, green Kryptonite weakens and can ultimately kill Kryptonians. It is radioactive and can cause nausea, weakness, and eventually death if exposed to it for an extended period of time.

2. Red Kryptonite ‚Äì Red Kryptonite has unpredictable and temporary effects on Kryptonians, causing them to undergo strange mutations or loss of powers. The effects vary each time it is used.

3. Blue Kryptonite ‚Äì Blue Kryptonite has similar effects to green Kryptonite but is specifically harmful to Bizarro, a flawed duplicate of Superman.

4. Gold Kryptonite ‚Äì Gold Kryptonite permanently removes a Kryptonian's powers, rendering them powerless for the rest of their lives.

5. Black Kryptonite ‚Äì Black Kryptonite can split a Kryptonian into two separate beings, one good and one evil.

6. White Kryptonite ‚Äì White Kryptonite can kill plant life, making it harmful to any plant-based species.

7. X-Kryptonite ‚Äì X-Kryptonite can grant superpowers to non-Kryptonian beings, such as humans.

These are just a few examples of the many different types of Kryptonite found in the DC Comics universe.

# HuggingFace Basic Usage

HuggingFace relies on pipelines that (mostly) leverage locally run models. All we have to do is specify which task we are interested in and the model we want to use

## Unmasking

Let's look at a simple case of using the base uncase BERT model to fill in masked data. We start by instantiating the pipeline (which will download the model the first time you run it)

In [17]:
unmasker = pipeline('fill-mask', model='bert-base-uncased')

output=unmasker("Artificial Intelligence [MASK] take over the world.")
output

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForMaskedLM: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

[{'score': 0.31824299693107605,
  'token': 2064,
  'token_str': 'can',
  'sequence': 'artificial intelligence can take over the world.'},
 {'score': 0.18299730122089386,
  'token': 2097,
  'token_str': 'will',
  'sequence': 'artificial intelligence will take over the world.'},
 {'score': 0.0560012087225914,
  'token': 2000,
  'token_str': 'to',
  'sequence': 'artificial intelligence to take over the world.'},
 {'score': 0.045194774866104126,
  'token': 2015,
  'token_str': '##s',
  'sequence': 'artificial intelligences take over the world.'},
 {'score': 0.045152731239795685,
  'token': 2052,
  'token_str': 'would',
  'sequence': 'artificial intelligence would take over the world.'}]

After which we can just call the pipeline directly

In [18]:
unmasker("Artificial Intelligence [MASK] take over the world.")

[{'score': 0.31824299693107605,
  'token': 2064,
  'token_str': 'can',
  'sequence': 'artificial intelligence can take over the world.'},
 {'score': 0.18299730122089386,
  'token': 2097,
  'token_str': 'will',
  'sequence': 'artificial intelligence will take over the world.'},
 {'score': 0.0560012087225914,
  'token': 2000,
  'token_str': 'to',
  'sequence': 'artificial intelligence to take over the world.'},
 {'score': 0.045194774866104126,
  'token': 2015,
  'token_str': '##s',
  'sequence': 'artificial intelligences take over the world.'},
 {'score': 0.045152731239795685,
  'token': 2052,
  'token_str': 'would',
  'sequence': 'artificial intelligence would take over the world.'}]

### Model Bias

As these models are trained on text written by a large number of people, they are also reflective of common biases that are present in society. Depending on our application we may or may not need to take this into account.

In [19]:
unmasker("The man worked as a [MASK].")

[{'score': 0.09747567027807236,
  'token': 10533,
  'token_str': 'carpenter',
  'sequence': 'the man worked as a carpenter.'},
 {'score': 0.05238327011466026,
  'token': 15610,
  'token_str': 'waiter',
  'sequence': 'the man worked as a waiter.'},
 {'score': 0.04962737113237381,
  'token': 13362,
  'token_str': 'barber',
  'sequence': 'the man worked as a barber.'},
 {'score': 0.03788601979613304,
  'token': 15893,
  'token_str': 'mechanic',
  'sequence': 'the man worked as a mechanic.'},
 {'score': 0.037680596113204956,
  'token': 18968,
  'token_str': 'salesman',
  'sequence': 'the man worked as a salesman.'}]

In [20]:
unmasker("The woman worked as a [MASK].")

[{'score': 0.21981653571128845,
  'token': 6821,
  'token_str': 'nurse',
  'sequence': 'the woman worked as a nurse.'},
 {'score': 0.1597415953874588,
  'token': 13877,
  'token_str': 'waitress',
  'sequence': 'the woman worked as a waitress.'},
 {'score': 0.11547262966632843,
  'token': 10850,
  'token_str': 'maid',
  'sequence': 'the woman worked as a maid.'},
 {'score': 0.03796852380037308,
  'token': 19215,
  'token_str': 'prostitute',
  'sequence': 'the woman worked as a prostitute.'},
 {'score': 0.030423782765865326,
  'token': 5660,
  'token_str': 'cook',
  'sequence': 'the woman worked as a cook.'}]

# LangChain

We instantiate the LangChain interface for OpenAI

In [21]:
model = ChatOpenAI(model="gpt-4o")

In [22]:
messages = [
    SystemMessage(content="What was Superman's weakness?"),
]

output = model.invoke(messages)
output

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

AIMessage(content="Superman's primary weakness is Kryptonite, a radioactive element from his home planet, Krypton. Exposure to Kryptonite weakens Superman and can potentially kill him if he is exposed to it for a prolonged period. There are different types of Kryptonite, each with varying effects:\n\n1. **Green Kryptonite**: The most common form, it weakens and can eventually kill Superman with prolonged exposure.\n2. **Red Kryptonite**: Causes unpredictable effects, such as physical transformations or emotional changes.\n3. **Gold Kryptonite**: Can remove Superman's powers permanently.\n4. **Blue Kryptonite**: Affects Bizarro, an imperfect clone of Superman, rather than Superman himself.\n5. **White Kryptonite**: Kills all plant life, but has no direct effect on Superman.\n\nIn addition to Kryptonite, Superman is also vulnerable to magic and can be harmed by magical spells and enchanted weapons. Furthermore, while he has incredible strength and durability, he is not invulnerable to attacks from beings with comparable or greater power, such as other Kryptonians or powerful cosmic entities.", response_metadata={'token_usage': {'completion_tokens': 221, 'prompt_tokens': 13, 'total_tokens': 234, 'completion_tokens_details': {'reasoning_tokens': 0}}, 'model_name': 'gpt-4o', 'system_fingerprint': 'fp_e375328146', 'finish_reason': 'stop', 'logprobs': None}, id='run-1f4d2c6b-4015-4098-8c30-c53d06305990-0', usage_metadata={'input_tokens': 13, 'output_tokens': 221, 'total_tokens': 234})

In [23]:
output.response_metadata["token_usage"]

{'completion_tokens': 221,
 'prompt_tokens': 13,
 'total_tokens': 234,
 'completion_tokens_details': {'reasoning_tokens': 0}}

In [24]:
parser = StrOutputParser()

In [25]:
result = model.invoke(messages)

In [26]:
parser.invoke(result)

"Superman's primary weakness is Kryptonite, a mineral from his home planet, Krypton. Exposure to Kryptonite radiation weakens Superman, causes him pain, and can potentially kill him if he is exposed to it for a prolonged period. There are different types of Kryptonite, each with varying effects. The most well-known is green Kryptonite, which weakens and harms Superman. Other forms, like red Kryptonite, can cause unpredictable and often temporary changes to his powers and personality. Additionally, Superman is vulnerable to magic and can be harmed by magical spells and enchanted weapons."

Let us create our first chain. Stages of the chain are conencted with the pipe '|' character

In [27]:
chain = model | parser

Now whenver we call __invoke()__ on the chain, it automatically runs all the steps

In [28]:
chain.invoke(messages)

"Superman's primary weakness is Kryptonite, a radioactive mineral from his home planet, Krypton. Exposure to Kryptonite weakens Superman, stripping him of his powers and can potentially be lethal with prolonged exposure. Different forms of Kryptonite have different effects; for example, green Kryptonite is the most common and harmful to Superman, while red Kryptonite causes unpredictable effects. Besides Kryptonite, Superman is also vulnerable to magic and can be affected by extreme physical force, especially from beings of similar or greater power."

# Applications

## Text to Code

In [29]:
messages = [
        {"role": "system", "content": """You are a grumpy but expert Python software engineer 
        thats interviewing for a job. Please be as concise with your answers as possible."""},
        {"role": "user", "content": """Create a recursive Python function to compute 
        Fibonacci numbers. Don't provide any explanation, just the code"""},
  ]

In [30]:
response = client.chat.completions.create(
    model="gpt-4",
    messages=messages,
    temperature=0,
    max_tokens=1024
)

Which produces the expected result

In [31]:
print(response.choices[0].message.content)

def fibonacci(n):
    if n <= 1:
       return n
    else:
       return(fibonacci(n-1) + fibonacci(n-2))

and works as expected

In [32]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [33]:
fibonacci(3)

2

Let us define a utility function to make sequential queries easier

In [34]:
def chat(messages, prompt):
    messages.append({"role":"user", "content":prompt})
    
    response = client.chat.completions.create(
        model="gpt-4",
        messages=messages,
        temperature=0,
        max_tokens=1024
    )
    
    messages.append(response.choices[0].message)
    
    return messages[-1].content

## Adding comments

In [35]:
print(chat(messages, "Can you add comments to this function?"))

def fibonacci(n):
    # Base case: if n is 0 or 1, return n
    if n <= 1:
       return n
    # Recursive case: return the sum of the previous two Fibonacci numbers
    else:
       return(fibonacci(n-1) + fibonacci(n-2))

In [36]:
print(chat(messages, "What is the purpose of recursion in this piece of code?"))

Recursion in this code is used to break down the problem of calculating a Fibonacci number into smaller, similar problems. It allows the function to call itself with different arguments, computing the smaller Fibonacci numbers first, then adding them together to get the desired Fibonacci number.

In [37]:
messages

[{'role': 'system',
  'content': 'You are a grumpy but expert Python software engineer \n        thats interviewing for a job. Please be as concise with your answers as possible.'},
 {'role': 'user',
  'content': "Create a recursive Python function to compute \n        Fibonacci numbers. Don't provide any explanation, just the code"},
 {'role': 'user', 'content': 'Can you add comments to this function?'},
 ChatCompletionMessage(content='def fibonacci(n):\n    # Base case: if n is 0 or 1, return n\n    if n <= 1:\n       return n\n    # Recursive case: return the sum of the previous two Fibonacci numbers\n    else:\n       return(fibonacci(n-1) + fibonacci(n-2))', role='assistant', function_call=None, tool_calls=None, refusal=None),
 {'role': 'user',
  'content': 'What is the purpose of recursion in this piece of code?'},
 ChatCompletionMessage(content='Recursion in this code is used to break down the problem of calculating a Fibonacci number into smaller, similar problems. It allows the function to call itself with different arguments, computing the smaller Fibonacci numbers first, then adding them together to get the desired Fibonacci number.', role='assistant', function_call=None, tool_calls=None, refusal=None)]

## Explaining Code

Let's use a relatively small python script

In [38]:
code_text = "".join(open("data/EpiModel.py").readlines())

In [39]:
print(code_text)

### ‚àí‚àó‚àí mode : python ; ‚àí‚àó‚àí
# @file EpiModel.py
# @author Bruno Goncalves
######################################################

import networkx as nx
import numpy as np
from numpy import linalg
from numpy import random
import scipy.integrate
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm
tqdm.pandas()

class EpiModel(object):
    """Simple Epidemic Model Implementation

        Provides a way to implement and numerically integrate
    """
    def __init__(self, compartments=None):
        self.transitions = nx.MultiDiGraph()
        self.seasonality = None

        if compartments is not None:
            self.transitions.add_nodes_from([comp for comp in compartments])

    def add_interaction(self, source, target, agent, rate):
        self.transitions.add_edge(source, target, agent=agent, rate=rate)

    def add_spontaneous(self, source, target, rate):
        self.transitions.add_edge(source, target, rate=rate)

    def add_vaccination(self, source, target, rate, start):
        self.transitions.add_edge(source, target, rate=rate, start=start)

    def _new_cases(self, population, time, pos):
        """Internal function used by integration routine"""
        diff = np.zeros(len(pos))
        N = np.sum(population)

        for edge in self.transitions.edges(data=True):
            source = edge[0]
            target = edge[1]
            trans = edge[2]

            rate = trans['rate']*population[pos[source]]

            if 'start' in trans and trans['start'] >= time:
                continue

            if 'agent' in trans:
                agent = trans['agent']
                rate *= population[pos[agent]]/N

                if self.seasonality is not None:
                    curr_t = int(time)%365
                    season = float(self.seasonality[curr_t])
                    rate *= season

            diff[pos[source]] -= rate
            diff[pos[target]] += rate

        return diff

    def plot(self, title=None, normed=True, **kwargs):
        """Convenience function for plotting"""
        try:
            if normed:
                N = self.values_.iloc[0].sum()
                ax = (self.values_/N).plot(**kwargs)
            else:
                ax = self.values_.plot(**kwargs)

            ax.set_xlabel('Time')
            ax.set_ylabel('Population')

            if title is not None:
                ax.set_title(title)

            return ax
        except:
            raise NotInitialized('You must call integrate() first')

    def __getattr__(self, name):
        """Dynamic method to return the individual compartment values"""
        if 'values_' in self.__dict__:
            return self.values_[name]
        else:
            raise AttributeError("'EpiModel' object has no attribute '%s'" % name)

    def simulate(self, timesteps, t_min=1, seasonality=None, **kwargs):
        """Stochastically simulate the epidemic model"""
        pos = {comp: i for i, comp in enumerate(self.transitions.nodes())}
        population=np.zeros(len(pos), dtype='int')

        for comp in kwargs:
            population[pos[comp]] = kwargs[comp]

        values = []
        values.append(population)

        comps = list(self.transitions.nodes)
        time = np.arange(t_min, t_min+timesteps, 1, dtype='int')

        self.seasonality = seasonality

        for t in time:
            pop = values[-1]
            new_pop = values[-1].copy()
            N = np.sum(pop)


            for comp in comps:
                trans = list(self.transitions.edges(comp, data=True))

                prob = np.zeros(len(comps), dtype='float')

                for _, node_j, data in trans:
                    source = pos[comp]
                    target = pos[node_j]

                    rate = data['rate']

                    if 'start' in data and data['start'] >= t:
                        continue

                    if 'agent' in data:
                        agent = pos[data['agent']]
                        rate *= pop[agent]/N

                        if self.seasonality is not None:
                            curr_t = int(t)%365
                            season = float(self.seasonality[curr_t])
                            rate *= season

                    prob[target] = rate

                prob[source] = 1-np.sum(prob)

                delta = random.multinomial(pop[source], prob)
                delta[source] = 0

                changes = np.sum(delta)

                if changes == 0:
                    continue

                new_pop[source] -= changes

                for i in range(len(delta)):
                    new_pop[i] += delta[i]

            values.append(new_pop)

        values = np.array(values)
        self.values_ = pd.DataFrame(values[1:], columns=comps, index=time)

    def integrate(self, timesteps, t_min=1, seasonality=None, **kwargs):
        """Numerically integrate the epidemic model"""
        pos = {comp: i for i, comp in enumerate(self.transitions.nodes())}
        population=np.zeros(len(pos))

        for comp in kwargs:
            population[pos[comp]] = kwargs[comp]

        time = np.arange(t_min, t_min+timesteps, 1)

        self.seasonality = seasonality
        self.values_ = pd.DataFrame(scipy.integrate.odeint(self._new_cases, population, time, args=(pos,)), columns=pos.keys(), index=time)

    def __repr__(self):
        text = 'Epidemic Model with %u compartments and %u transitions:\n\n' % \
              (self.transitions.number_of_nodes(),
               self.transitions.number_of_edges())

        for edge in self.transitions.edges(data=True):
            source = edge[0]
            target = edge[1]
            trans = edge[2]

            rate = trans['rate']

            if 'agent' in trans:
                agent = trans['agent']
                text += "%s + %s = %s %f\n" % (source, agent, target, rate)
            elif 'start' in trans:
                start = trans['start']
                text+="%s -> %s %f starting at %s days\n" % (source, target, rate, start)
            else:
                text+="%s -> %s %f\n" % (source, target, rate)

        R0 = self.R0()

        if R0 is not None:
            text += "\nR0=%1.2f" % R0

        return text

    def _get_active(self):
        active = set()

        for node_i, node_j, data in self.transitions.edges(data=True):
            if "agent" in data:
                active.add(data['agent'])
            else:
                active.add(node_i)

        return active

    def _get_susceptible(self):
        susceptible = set([node for node, deg in self.transitions.in_degree() if deg==0])

        if len(susceptible) == 0:
            for node_i, node_j, data in self.transitions.edges(data=True):
                if "agent" in data:
                    susceptible.add(node_i)

        return susceptible

    def _get_infections(self):
        inf = {}

        for node_i, node_j, data in self.transitions.edges(data=True):
            if "agent" in data:
                agent = data['agent']

                if agent not in inf:
                    inf[agent] = {}

                if node_i not in inf[agent]:
                    inf[agent][node_i] = {}

                inf[agent][node_i]['target'] = node_j
                inf[agent][node_i]['rate'] = data['rate']

        return inf


    def R0(self):
        infected = set()

        susceptible = self._get_susceptible()

        for node_i, node_j, data in self.transitions.edges(data=True):
            if "agent" in data:
                infected.add(data['agent'])
                infected.add(node_j)


        infected = sorted(infected)
        N_infected = len(infected)

        F = np.zeros((N_infected, N_infected), dtype='float')
        V = np.zeros((N_infected, N_infected), dtype='float')

        pos = dict(zip(infected, np.arange(N_infected)))

        try:
            for node_i, node_j, data in self.transitions.edges(data=True):
                rate = data['rate']

                if "agent" in data:
                    target = pos[node_j]
                    agent = pos[data['agent']]

                    if node_i in susceptible:
                        F[target, agent] = rate
                elif "start" in data:
                    continue
                else:
                    source = pos[node_i]

                    V[source, source] += rate

                    if node_j in pos:
                        target = pos[node_j]
                        V[target, source] -= rate

            eig, v = linalg.eig(np.dot(F, linalg.inv(V)))

            return eig.max()
        except:
            return None

    def __getitem__(self, bla):
        return self.values_[bla]

if __name__ == '__main__':

    beta = 0.2
    mu = 0.1

    SIR = EpiModel()
    SIR.add_interaction('S', 'I', 'I', beta)
    SIR.add_spontaneous('I', 'R', mu)
    SIR.add_vaccination('S', 'V', 0.01, 75)
    SIR.add_spontaneous('VI', 'VR', mu)
    SIR.add_interaction('V', 'VI', 'I', beta*(1-.8))


    print(SIR)

    N = 100000
    I0 = 10

    season = np.ones(365+1)
    season[74:100] = 0.25

    fig, ax = plt.subplots(1)

    Nruns = 1000
    values = []

    #for i in tqdm(range(Nruns), total=Nruns):
    SIR.integrate(365, S=.3*N-10, I=10, V=.7*N)

    SIR[['I', 'VI', 'VR', 'R']].plot(ax=ax)
    print(SIR.S.tail())
    #ax.plot(SIR.I/N, lw=.1, c='b')

    if SIR.I.max() > 10:
        values.append(SIR.I)

    values = pd.DataFrame(values)
    (values.median(axis=0)/N).plot(ax=ax, c='r')

    fig.savefig('SIR.png')

In [40]:
%%time
print(chat(messages, "Please explain what this piece of code does: ```%s```" % code_text))

This code defines a class `EpiModel` for simulating and analyzing epidemic models. The class allows for the creation of a model with multiple compartments (e.g., susceptible, infected, recovered), and transitions between these compartments.

The class includes methods for adding interactions between compartments, spontaneous transitions, and vaccinations. It also includes methods for simulating the epidemic over time, either stochastically or through numerical integration, and for plotting the results.

The `__main__` section at the end of the script creates an instance of the `EpiModel` class, defines a specific model (SIR with vaccination), and runs a simulation of this model. It then plots the results and saves the plot to a file.
CPU times: user 9.14 ms, sys: 2.21 ms, total: 11.4 ms
Wall time: 9.58 s

In [41]:
%%time
print(chat(messages, "Can you please add a doc string to each function and method? Please include information about each argument of the function"))

Sure, here are the docstrings for each method in the `EpiModel` class:

```python
class EpiModel(object):
    """Simple Epidemic Model Implementation

    Provides a way to implement and numerically integrate
    """
    def __init__(self, compartments=None):
        """
        Initialize the EpiModel object.

        Args:
            compartments (list): List of compartments for the model.
        """

    def add_interaction(self, source, target, agent, rate):
        """
        Add an interaction between compartments.

        Args:
            source (str): Source compartment.
            target (str): Target compartment.
            agent (str): Agent compartment.
            rate (float): Transition rate.
        """

    def add_spontaneous(self, source, target, rate):
        """
        Add a spontaneous transition.

        Args:
            source (str): Source compartment.
            target (str): Target compartment.
            rate (float): Transition rate.
        """

    def add_vaccination(self, source, target, rate, start):
        """
        Add a vaccination transition.

        Args:
            source (str): Source compartment.
            target (str): Target compartment.
            rate (float): Vaccination rate.
            start (int): Start time for vaccination.
        """

    def _new_cases(self, population, time, pos):
        """
        Calculate new cases.

        Args:
            population (np.array): Current population in each compartment.
            time (int): Current time.
            pos (dict): Dictionary mapping compartment names to indices.
        """

    def plot(self, title=None, normed=True, **kwargs):
        """
        Plot the results.

        Args:
            title (str): Title for the plot.
            normed (bool): Whether to normalize the results.
            **kwargs: Additional arguments for the plot.
        """

    def __getattr__(self, name):
        """
        Get attribute.

        Args:
            name (str): Name of the attribute.
        """

    def simulate(self, timesteps, t_min=1, seasonality=None, **kwargs):
        """
        Simulate the epidemic.

        Args:
            timesteps (int): Number of timesteps to simulate.
            t_min (int): Start time.
            seasonality (np.array): Seasonality factor for each day.
            **kwargs: Initial population in each compartment.
        """

    def integrate(self, timesteps, t_min=1, seasonality=None, **kwargs):
        """
        Numerically integrate the epidemic model.

        Args:
            timesteps (int): Number of timesteps to integrate.
            t_min (int): Start time.
            seasonality (np.array): Seasonality factor for each day.
            **kwargs: Initial population in each compartment.
        """

    def __repr__(self):
        """
        String representation of the EpiModel object.
        """

    def _get_active(self):
        """
        Get active compartments.
        """

    def _get_susceptible(self):
        """
        Get susceptible compartments.
        """

    def _get_infections(self):
        """
        Get infection transitions.
        """

    def R0(self):
        """
        Calculate the basic reproduction number R0.
        """

    def __getitem__(self, bla):
        """
        Get item.

        Args:
            bla (str): Name of the compartment.
        """
```
Please note that the docstrings for some of the private methods (those starting with `_`) are quite brief, as these methods are intended for internal use within the class and not for use by the class's users.
CPU times: user 28.1 ms, sys: 7.12 ms, total: 35.2 ms
Wall time: 41.6 s

## Interacting with a database

Let us open a small test database. This file was downloaded from https://github.com/chineseballer06/Statistical-Analysis-of-Northwind-Database/blob/master/Northwind_small.sqlite

In [42]:
con = sqlite3.connect("data/Northwind_small.sqlite")

In [43]:
messages = [
    {"role": "system", "content": """You're a Database Administrator. 
        Please generate SQL queries to answer the following questions. 
        No comments are necessary."""},
    {"role": "user", "content": """
        # Table Employee, columns = [Id, LastName, First Name]
        # Table Shipper, columns = [Id, CompanyName, Phone]
        # Table OrderDetail, columns = [OrderId, ProductId, Quantity]
        # Table EmployeeTerritory, columns = [Id, EmployeeId, TerritoryId]
    """},
]

In [44]:
query_sql = chat(messages, "Generate a table with employee first name, last name and territory id")
print(query_sql)

SELECT Employee.FirstName, Employee.LastName, EmployeeTerritory.TerritoryId
FROM Employee
JOIN EmployeeTerritory ON Employee.Id = EmployeeTerritory.EmployeeId;

In [45]:
pd.read_sql(query_sql, con)

   FirstName   LastName TerritoryId
0      Nancy    Davolio       06897
1      Nancy    Davolio       19713
2     Andrew     Fuller       01581
3     Andrew     Fuller       01730
4     Andrew     Fuller       01833
5     Andrew     Fuller       02116
6     Andrew     Fuller       02139
7     Andrew     Fuller       02184
8     Andrew     Fuller       40222
9      Janet  Leverling       30346
10     Janet  Leverling       31406
11     Janet  Leverling       32859
12     Janet  Leverling       33607
13  Margaret    Peacock       20852
14  Margaret    Peacock       27403
15  Margaret    Peacock       27511
16    Steven   Buchanan       02903
17    Steven   Buchanan       07960
18    Steven   Buchanan       08837
19    Steven   Buchanan       10019
20    Steven   Buchanan       10038
21    Steven   Buchanan       11747
22    Steven   Buchanan       14450
23   Michael     Suyama       85014
24   Michael     Suyama       85251
25   Michael     Suyama       98004
26   Michael     Suyama       98052
27   Michael     Suyama       98104
28    Robert       King       60179
29    Robert       King       60601
30    Robert       King       80202
31    Robert       King       80909
32    Robert       King       90405
33    Robert       King       94025
34    Robert       King       94105
35    Robert       King       95008
36    Robert       King       95054
37    Robert       King       95060
38     Laura   Callahan       19428
39     Laura   Callahan       44122
40     Laura   Callahan       45839
41     Laura   Callahan       53404
42      Anne  Dodsworth       03049
43      Anne  Dodsworth       03801
44      Anne  Dodsworth       48075
45      Anne  Dodsworth       48084
46      Anne  Dodsworth       48304
47      Anne  Dodsworth       55113
48      Anne  Dodsworth       55439

In [46]:
sql_query = chat(messages, "Compute how many employees work in each territory")
print(sql_query)

SELECT EmployeeTerritory.TerritoryId, COUNT(Employee.Id) as EmployeeCount
FROM Employee
JOIN EmployeeTerritory ON Employee.Id = EmployeeTerritory.EmployeeId
GROUP BY EmployeeTerritory.TerritoryId;

In [47]:
pd.read_sql(sql_query, con)

   TerritoryId  EmployeeCount
0        01581              1
1        01730              1
2        01833              1
3        02116              1
4        02139              1
5        02184              1
6        02903              1
7        03049              1
8        03801              1
9        06897              1
10       07960              1
11       08837              1
12       10019              1
13       10038              1
14       11747              1
15       14450              1
16       19428              1
17       19713              1
18       20852              1
19       27403              1
20       27511              1
21       30346              1
22       31406              1
23       32859              1
24       33607              1
25       40222              1
26       44122              1
27       45839              1
28       48075              1
29       48084              1
30       48304              1
31       53404              1
32       55113              1
33       55439              1
34       60179              1
35       60601              1
36       80202              1
37       80909              1
38       85014              1
39       85251              1
40       90405              1
41       94025              1
42       94105              1
43       95008              1
44       95054              1
45       95060              1
46       98004              1
47       98052              1
48       98104              1

In [48]:
sql_query = chat(messages, "How many shippers do we work with?")
print(sql_query)

SELECT COUNT(*) FROM Shipper;

In [49]:
pd.read_sql(sql_query, con)

   COUNT(*)
0         3

In [50]:
messages

[{'role': 'system',
  'content': "You're a Database Administrator. \n        Please generate SQL queries to answer the following questions. \n        No comments are necessary."},
 {'role': 'user',
  'content': '\n        # Table Employee, columns = [Id, LastName, First Name]\n        # Table Shipper, columns = [Id, CompanyName, Phone]\n        # Table OrderDetail, columns = [OrderId, ProductId, Quantity]\n        # Table EmployeeTerritory, columns = [Id, EmployeeId, TerritoryId]\n    '},
 {'role': 'user',
  'content': 'Generate a table with employee first name, last name and territory id'},
 ChatCompletionMessage(content='SELECT Employee.FirstName, Employee.LastName, EmployeeTerritory.TerritoryId\nFROM Employee\nJOIN EmployeeTerritory ON Employee.Id = EmployeeTerritory.EmployeeId;', role='assistant', function_call=None, tool_calls=None, refusal=None),
 {'role': 'user',
  'content': 'Compute how many employees work in each territory'},
 ChatCompletionMessage(content='SELECT EmployeeTerritory.TerritoryId, COUNT(Employee.Id) as EmployeeCount\nFROM Employee\nJOIN EmployeeTerritory ON Employee.Id = EmployeeTerritory.EmployeeId\nGROUP BY EmployeeTerritory.TerritoryId;', role='assistant', function_call=None, tool_calls=None, refusal=None),
 {'role': 'user', 'content': 'How many shippers do we work with?'},
 ChatCompletionMessage(content='SELECT COUNT(*) FROM Shipper;', role='assistant', function_call=None, tool_calls=None, refusal=None)]

<center>
     <img src="https://raw.githubusercontent.com/DataForScience/Networks/master/data/D4Sci_logo_full.png" alt="Data For Science, Inc" align="center" border="0" width=300px> 
</center>